$mediumColor: #3b8dd1;
$darkBlue: #0A405B;
$mediumBlue: #074564e0;
$lightColor: #ffffff;
$darkColor: #dee1e6;
$dimGrey: dimgrey;
$redColor: #ea5770;
$greenColor: #49c487;
$yellowColor: #e8a41a;
$lightGrey: #f6f6f6;
$lightestgrey: #f6f7fb;
$bluegrey: #797e99;