@import '~@/scss/colors';
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.home {
    margin-top: 10vh;
  }
  .flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .home__left {
    width:45vw;
    z-index: 2;
    justify-content: center;
    background:$mediumBlue;
    color: white;
    border-radius: 5px;
    padding: 50px;
  }
  .home__left div, .home__right div {
    width: 100%;
  }
  .home__right {
    width:45vw;
    z-index: 2;
    justify-content: center;
    background:$lightGrey;
    color: $dimGrey;
    border-radius: 5px;
    padding: 50px;
  }
  .active__number {
    background: #edff00 !important;
    color: black !important;
  }
  .btn.disabled, .btn:disabled {
    opacity: 0.9;
}
.numbers__board button.btn.btn-outline-secondary.rounded-pill.number__button {
  color: white;
  border-color: white;
  &:active {
    background: #edff00 !important;
    color: black !important;
    border-color: #edff00 !important;
  }
}
  @media (max-width: 800px) {
    .home__left, .home__right {
      width: 90vw
    }
    .home__left {
      margin-bottom: 20px;
    }
  }